extends ./navbar.jade

block content
    // Main jumbotron for a primary marketing message or call to action
    .jumbotron
        .container
            h1.display-3 About the Site
            p
            | This is just a template that let me know how to use nodemailer!